:root {
  --color: #0290ff;
}

body {
  background-color: #f5f6fa;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.main-nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-bar {
  padding-right: 40px;
  background-color: #fff;
  width: 100%;
  display: flex;
}

h1 {
  margin-left: 40px;
  color: var(--color);
  font-family: 'Montserrat', sans-serif;
}

.navigation-list {
  margin-top: 25px;
  margin-left: 10px;
  display: flex;
  list-style: none;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  color: #121212;
  opacity: 0.5;
}

a:focus {
  color: black;
}

.navigation-list li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: normal;
}

.commentaire {
  margin-top: -15px;
  font-size: 0.875rem;
  font-weight: 300;
  display: flex;
  color: #4386bf;
  height: 40px;
  justify-content: space-around;
  margin-left: -20px;
}

#book-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-right: 20px;
  margin-top: 60px;
  background-color: #fff;
  margin-left: 40px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 2px 18px 4px;
}

#books-container {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
  margin-left: -10px;
}

#books-container li {
  justify-content: space-around;
}

.container-1 {
  font-family: 'RobotoSlab', sans-serif;
  display: flex;
  flex-direction: column;
}

.container-2 {
  justify-content: left;
  display: flex;
  margin-top: 8px;
  gap: 10px;
}

.percentageVal {
  text-align: center;
  margin: 0;
  font-size: 2rem;
  color: #121212;
}

.my-page {
  background-color: #f5f6fa;
  width: auto;
}

#completed {
  margin-top: 0;
  font-size: 0.875rem;
  color: #888;
}

.container-3 {
  margin-top: 15px;
  display: flex;
  margin-right: 50px;
  flex-direction: column;
  font-family: 'RobotoSlab', sans-serif;
}

.container-3 span {
  margin-top: -5px;
  font-size: 0.813rem;
  color: #888;
}

#upd-btn {
  margin-top: -10px;
  background-color: var(--color);
  border: 1px solid var(--color);
  color: #fff;
  height: 2.8rem;
}

#my-chap {
  margin-top: 8px;
  font-size: 1rem;
}

.book-category {
  display: flex;
  text-align: center;
  margin-top: 8px;
  color: #888;
}

.book-title {
  margin-top: -10px;
  font-size: 1.375rem;
  font-weight: bold;
}

.remove-btn {
  cursor: pointer;
  height: 20px;
  background: none;
  width: 100px;
  border-bottom: none;
  border-top: none;
  color: #4386bf;
  border-left: 1px solid #4386bf;
  border-right: 1px solid #4386bf;
}

form {
  margin: 40px 80px 0 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#add-form {
  display: flex;
  justify-content: space-between;
}

#book-title {
  width: 126%;
  height: 2.811rem;
  border: 1px #fff solid;
  color: #888;
}

#chose-category {
  width: 130%;
  height: 3rem;
  border: 1px #fff solid;
  color: #888;
}

.allform-container {
  margin-top: 30px;
  margin-bottom: 40px;
}

#add-btn {
  background-color: var(--color);
  color: #fff;
  border: 1px #fff solid;
  height: 3rem;
  width: 150px;
}

.form-title {
  margin-left: 80px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  color: #888;
}

hr {
  width: 95%;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
}

.user-profile-wrapper {
  margin-top: 12px;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
  height: 15px;
  padding: 10px 15px 20px 15px;
}

@media screen and (min-width: 768px) {
  #books-container {
    display: flex;
    flex-direction: row;
  }

  .main-nav {
    justify-content: left;
  }

  .nav-bar {
    display: flex;
  }

  .b-title {
    width: 40%;
  }

  .b-category {
    width: 20%;
  }

  #books-container li {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 1150px;
  }

  .book-category {
    text-align: left;
  }

  .book-author {
    margin-top: -20px;
    margin-bottom: 40px;
    color: #4386bf;
  }

  .commentaire {
    width: 260px;
    margin-top: -30px;
  }

  form {
    width: 97%;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
  }

  .form-title {
    margin-left: 45px;
  }
}
